.nav {
  height: 150px;
  font-size: 16px;
  font-family: sans-serif;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: block;
  height: 100%;
}
.nav__logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.nav__list li {
  margin-right: 30px;
}
.nav__list li:last-child {
  margin-right: 0px;
}